/*-------------------------------------------
共通のレイアウト
-------------------------------------------*/
img{
    max-width: 100%;
}

/*-------------------------------------------
セクション__main visual
-------------------------------------------*/
.secMainVisual__img{
    width: 100%;
    height: auto;
}

/*-------------------------------------------
セクション__secRecipeDiary
-------------------------------------------*/
.secRecipeDiary{
    text-align: center;
}
.secRecipeDiary__title{
    font-size: 170%;
    font-weight: bold;
    margin-top: 80px;
}
.secRecipeDiary__txt{
    margin-top: 30px;
    padding: 0 20px;
    line-height: 1.5;
}

/*-------------------------------------------
セクション__secPhotoLis
-------------------------------------------*/
.secPhotoLis__photos{
    display: flex;
    margin-top: 80px;
}
@media screen and (max-width: 840px){
    .secPhotoLis__photos{
        flex-direction: column;
    }
}
.secPhotoLis__photos>li{
    width: calc(100%/3);
}
@media screen and (max-width: 840px){
    .secPhotoLis__photos>li{
        width: 100%;
    }
}
.secPhotoLis__photosItem{
    object-fit: cover;
    /* width: calc(100%/3); */
    width: 100%;
    max-height: 450px;
    vertical-align: bottom;
}

/*-------------------------------------------
セクション__ボタン
-------------------------------------------*/
.btnWrapper{
    text-align: center;
    margin-top: 80px;
}
.btnWrapper__btn{
    border: solid 1px #2b2a27;
    padding: 20px 75px;
    width: 20%;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer{
    margin-top: 120px;
}
.footer__snsLinks{
    display: flex;
    justify-content: center;
}
.footer__snsLink{
    text-decoration: underline;
    margin: 0 30px;
}
.footer__copyRight{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}