/*-------------------------------------------
共通のレイアウト
-------------------------------------------*/
img{
    max-width: 100%;
}

/*-------------------------------------------
dishImg
-------------------------------------------*/
.dishImg{
    width: 50%;
    height: 700px;
    object-fit: cover;
}