/*-------------------------------------------
サイト共通のレイアウト
-------------------------------------------*/
img{
    max-width: 100%;
}

/*-------------------------------------------
mainWrap
-------------------------------------------*/
.mainWrap{
    display: flex;
    justify-content: flex-end;
}

.textContWrap{
    flex-direction:column;
    width: 40%;
    margin: 0 auto;
}

/*-------------------------------------------
dishImg
-------------------------------------------*/
.dishImg{
    width: 50%;
    height: 700px;
    object-fit: cover;
}

/*-------------------------------------------
セクション__dishDesc
-------------------------------------------*/
.dishDesc{
    margin-top: 45px;
}
.dishDesc__heading{
    font-size: 150%;
    font-weight: bold;
}
.dishDesc__txt{
    margin-top: 50px;
}

/*-------------------------------------------
セクション__ingredient
-------------------------------------------*/
.ingredient{
    margin-top: 45px;
}
.ingredient__heading{
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid #c8c8c8;
}
.ingredient__lis{
    margin-top: 20px;
}
.ingredient__lisItem{
    border-bottom: 1px dashed #c8c8c8;
    padding: 10px 0;
}

/*-------------------------------------------
セクション__howTo
-------------------------------------------*/
.howTo{
    margin-top: 45px;
}
.howTo__heading{
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid #c8c8c8;
}
.howTo__lis{
    margin-top: 20px;
}
.howTo__lisItem{
    border-bottom: 1px dashed #c8c8c8;
    padding: 10px 0;
}

/*-------------------------------------------
ボタン
-------------------------------------------*/
.btnWrap{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.btn{
    border: solid 1px #2b2a27;
    text-align: center;
    padding: 20px 75px;
    width: 20%;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer{
    margin-top: 120px;
}
.footer__snsLinks{
    display: flex;
    justify-content: center;
}
.footer__snsLink{
    text-decoration: underline;
    margin: 0 30px;
}
.footer__copyRight{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}